
.create-comment {
    margin-top: 50px;
}

.create-comment-row {
    display: flex;
    padding: 10px 0;
}

.form-field-holder {
    display: inline-block;
    width: 350px;
}

.create-comment-label {
    display: inline-block;
    padding: 10px;
    min-width: 250px;
    font-weight: bold;
    text-align: right;
}

.create-comment-text {
    min-height: 150px;
    width: 100%;
    margin-bottom: 10px;
}

.form-error {
    color: #DB3E00;
}

.submit-button {
    margin-left: auto;
    border: none;
    border-radius: 5px;
    padding: 12px 18px;
    background-color: orange;
    font-size: 16px;
    transition: all .3s ease-in-out;
}

.submit-button:hover {
    background-color: #ff8800;
}