
.home-container {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    min-height: 150px;
    height: auto;
    padding: 10px;
}

.home-card {
    background-color: #e9f4fa;
    margin: 20px 1em;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 300px;
    height: 200px;

    padding: 20px;
    align-items: center;
    opacity: 80%;
}

.home-card-count {
    font-size: 50px;
    padding: 20px;
}

.home-card-text {
    font-size: 20px;
}